
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 70%;
}
/* .allContact{
  padding: 10px;
} */

h1{
  text-align: center;
  font-size: 43px;
  font-family: 'Phudu', cursive;
  margin: 10px;
  background: #ffc107;
  /* margin-left: 10em;
  margin-right: 10em; */
  padding: 14px;
}