
<!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Restaurant App</span>
  <span class="example-spacer"></span>
  
   <button mat-raised-button matTooltip="Customer Contacts Records"  routerLink="/contact-records-get" id="view_contacts">View Contacts</button>
  &nbsp; <button mat-raised-button color="warn" matTooltip="View Food Order Records"  routerLink="/view-orders">View Orders</button>
 &nbsp; <button mat-raised-button matTooltip="Admin" routerLink="/dashboard">Admin Dashboard</button>
  &nbsp;<button mat-raised-button color="accent" matTooltip="User Dashboard" routerLink="/user-dashboard">User Dashboard</button>
</mat-toolbar> -->
<!-- <agm-map>

</agm-map> -->
<router-outlet></router-outlet>