<!-- <div class="container" id="updateRecord"> -->
    <!-- <mat-card>
        <mat-card-content> -->
            <div class="container-fluid" id="updateRecord">
                <div class="row">
                  <div class="col-md-6" id="headings" style="padding: 0;">
                    <img src="https://images.pexels.com/photos/7015038/pexels-photo-7015038.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="" id="img_head">
                    </div>
                    <div class="col-md-6" id="addOrderForm">
    <div>
        <div>
           
            <!-- <img src="https://th.bing.com/th/id/OIP.CAOX53k4N3b8hVchoOZAtQHaHx?pid=ImgDet&w=168&h=177&c=7" alt="">  -->
            <h2>Update Restaurant Details</h2>
        </div>
                 <div>
            <mat-form-field appearance="outline" class="form-elements">
                <mat-label>Restaurant Name</mat-label>
                <input matInput placeholder="Restaurant Name" [(ngModel)]="restaurantRecords.name">
               </mat-form-field> 
               </div>
  
               <div>
                <mat-form-field appearance="outline" class="form-elements">
                    <mat-label>Menu</mat-label>
                    <input matInput placeholder="Special Menu" [(ngModel)]="restaurantRecords.menu">
                   </mat-form-field> 
                   </div>

                   <div>
                    <mat-form-field appearance="outline" class="form-elements">
                        <mat-label>Price</mat-label>
                        <input matInput placeholder="Enter Price" [(ngModel)]="restaurantRecords.price">
                       </mat-form-field> 
                       </div>
        
            
               <div>
                <mat-form-field appearance="outline" class="form-elements">
                    <mat-label>Speciality Dish Picture</mat-label>
                    <input matInput placeholder="Enter Image URL" [(ngModel)]="restaurantRecords.img">
                   </mat-form-field> 
                   </div>
       
       <div>
       <mat-form-field appearance="outline" class="form-elements">
        <mat-label>Restaurant Owner</mat-label>
        <input matInput placeholder="Owner Name" [(ngModel)]="restaurantRecords.owner">
       </mat-form-field> 
    </div>

    <div>
       <mat-form-field appearance="outline" class="form-elements">
        <mat-label>Restaurant Mobile</mat-label>
        <input matInput placeholder="Contact Number" [(ngModel)]="restaurantRecords.mobile">
       </mat-form-field> 
    </div>

    <div>
       <mat-form-field appearance="outline" class="form-elements">
        <mat-label>Restaurant Email</mat-label>
        <input matInput placeholder="Email Address" [(ngModel)]="restaurantRecords.email">
       </mat-form-field> 
    </div>

     <div>
       <mat-form-field appearance="outline" class="form-elements">
        <mat-label>Restaurant Location</mat-label>
        <input matInput placeholder="Location" [(ngModel)]="restaurantRecords.location">
       </mat-form-field> 
    </div>

    <button mat-raised-button color="accent" (click)="updateRecord()">UPDATE RECORD</button>
    &nbsp; <button mat-raised-button color="accent" matTooltip="Go Home" routerLink="/dashboard">Home</button>
</div>
<!-- </mat-card-content>
</mat-card> -->
</div>
</div>
</div>

