<body >
    

    <div class="container homePage">
        <div class="row justify-content-center">
            <div class="text-center">
            <h3>Welcome To Restaurant Application 
                <i class="fa-solid fa-utensils"></i>
            </h3>
            </div>
            <div class="col-md-6">
                <!-- <div class="card"> -->
                    <div class="text-center">
                        
                        <div class="container">
                            <img src="https://media.giphy.com/media/jb0SQ1vs7qi1q/giphy.gif" alt="">
                          </div>
                    </div>
                   
                   
                      
                        <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-primary "  routerLink="/admin-login" matTooltip="Admin Login Here"> Admin Login</button>
                        <button type="submit" class="btn btn-success "  routerLink="/user-login" matTooltip="User Login Here"> User Login</button>
                        
                    </div> 
                  
              
                </div>
            
            <!-- </div> -->
        </div>
      </div>
    </body>