*{
    margin: 0;
    padding: 0;
}
.container{
    padding: 10px;
    width: 45%;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
   margin: 0 auto;
}
button#addFeedback{
    margin-left: 10em;
}
.mat-mdc-raised-button:not(:disabled) {
  
    margin-left: 4em;
}
.rate {
    /* float: left; */
    height: 46px;
    /* padding: 5px 10px;
    margin-right: 8em; */
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    /* float:right; */
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

 
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Barlow&family=Source+Sans+Pro&family=Barlow+Semi+Condensed&family=Great+Vibes&family=IBM+Plex+Serif:ital,wght@1,700&family=Lobster&family=Phudu&family=Playfair+Display:ital,wght@1,400;1,700&family=Poppins&family=Roboto+Condensed:ital,wght@0,300;1,400&family=Roboto+Slab:wght@100;200;300;700&family=Slabo+27px&family=Tilt+Prism&display=swap');
.form-elements{
    width: 500px;
}

h2{
    color: #0002A1;
    font-family: 'Lobster', cursive;
    font-size: 39px;
    text-align: center;
    font-weight: 400;
    padding: 20px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* img{
   margin-left: 14em;
   border-radius: 16em;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */
button.mat-raised-button{
    margin-top: 20px;
    width: 70px;
}
.mat-mdc-card {
    width: 55%;
    align-items: center;
}
.mat-mdc-card-content:last-child {
    padding-bottom: 35px;
}
.radio-btn-group{
    display: inherit;
    margin-bottom: 12px;
}
.mat_lable{
    font-size: 18px;
    font-weight: 500;
    color: darkgoldenrod;
    font-family: 'Source Sans Pro', sans-serif;
}

#rate{
    /* padding-right: 2em;
    margin-right: 12px;
    color: #FF6000;
    background: #FFD93D;
    border-radius: 35px; */
    font-size: 18px;
    padding-right: 1em;
    color: red;
    /* width: 20px;
    padding-left: 2em;
    padding-top: 10px;
    padding-bottom: 10px; */
}
#img_head{
    height: 62.9em;
  }
  #addOrderForm{
    text-align: center;
    /* background-color: #F9D949; */
    background-color: #FFFBEB;
    padding-bottom: 1em;
    }